{% extends 'index.html' %}
{% load static %}
{% block body %}
    <div class="yellow_bg">
   <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Admin Profile</h2>
                  </div>
               </div>
            </div>
          </div>
</div>
 <div>
     <a class="btn btn-info" href="/updateall/">Update all Records</a>
 </div>
<br>
<br>
<br>
<div>
        <h1>List of Id with Time Out</h1>
         <table class="table table-dark table-striped">
             <tr>
                    <td>Name</td>
                    <td>User Name</td>
                    <td>Member Id</td>
                    <td>Pan</td>
                    <td>Adhar</td>
                    <td>Plan</td>
                    <td>Mobile Number</td>

                </tr>
            {% for i in Data %}
            <div>
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.userName}}</td>
                    <td>{{i.mid}}</td>
                    <td>{{i.pan}}</td>
                    <td>{{i.adhar}}</td>
                    <td>{{i.planDetails}}</td>
                    <td>{{i.mobile}}</td>
                </tr>
            </div>
            {% endfor %}
    </table>
    <a class="btn btn-info" href="/deactivate/">Deactivate All ID</a>
 </div>
<br>
<br>
<br>
 <div>
        <h1>Payout Details</h1>
         <table class="table table-dark table-striped">
             <tr>
                    <td>Name</td>
                    <td>Payout</td>
                    <td>Bank Name</td>
                    <td>IFSC Code</td>
                    <td>Account Number</td>
                    <td>Mobile Number</td>
                </tr>
            {% for i in Data2 %}
            <div>
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.payWithdrawable}}</td>
                    <td>{{i.bankName}}</td>
                    <td>{{i.ifscCode}}</td>
                    <td>{{i.accountNumber}}</td>
                    <td>{{i.mobile}}</td>
                </tr>
            </div>
            {% endfor %}
    </table>
     <a class="btn btn-info" href="#">Get Details of Payout</a>
 </div>
<div>
    <a class="btn btn-info" href="/reset/">Reset All</a>
</div>
<br>
<br>
<br>
<div>
        <h1>Activate Id</h1>
         <table class="table table-dark table-striped">
             <tr>
                    <td>Name</td>
                    <td>User Name</td>
                    <td>Member Id</td>
                    <td>Pan</td>
                    <td>Adhar</td>
                    <td>Plan</td>
                    <td>Mobile Number</td>

                </tr>
            {% for i in Data2 %}
            <div>
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.userName}}</td>
                    <td>{{i.mid}}</td>
                    <td>{{i.pan}}</td>
                    <td>{{i.adhar}}</td>
                    <td>{{i.planDetails}}</td>
                    <td>{{i.mobile}}</td>
                    {% if i.status %}<td>Activated</td>{% else %}<td><a href="/activate/{{i.mid}}/" class="btn btn-success">Activate</a></td>{% endif %}
                </tr>
            </div>
            {% endfor %}
    </table>
{% endblock %}