{% extends 'index.html' %}
{% load static %}
{% block body %}
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class=" col-md-12">
                        <h2>Welcome<strong class="white"> Vishank Chauhan</strong></h2>
                    </div>
                </div>
            </div>
        </div>
<section class="resip_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ourheading">
                    <h2>Our Plans</h2>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</section>

{% endblock %}