{% extends 'index.html' %}
{% load static %}
{% block body %}
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class=" col-md-12">
                      {% for i in messages %}
                        <h2 class="white">{{i}}</h2>
                        {% endfor %}
                    <h2>Edit<strong class="white">Profile</strong></h2>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <form class="main_form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="Name" type="text" name="Name" value="{{Member.name}}">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="Email" type="text" name="Email" value="{{Member.email}}">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="Phone" type="text" name="Phone" value="{{Member.mobile}}">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input type="file" name="img">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <button class="send">Update</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="img-box">
                            <figure><img src="{% static 'images/img.jpg'%}" alt="img" /></figure>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
            </div>
        </div>
{% endblock %}